div#una-capa {
    padding: 2em;
    background: #fff;
}

p.principal-text {
    background: #415ede;
    color: white;
}
p.secundario-text {
    background: #bbc6f4;
    color: white;
    margin: 2em;
    text-align: center;
}

div#dos-capa {
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
}

div#estudiante {
    background: aliceblue;
    text-align: center;
    margin-top: 3%;
}

.input-total {
    background: #FFF;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}
img.img-principal {
    display: block;
    width: 10%;
    height: auto;
    margin: auto;
}
h1.titulo-principal {
    text-align: center;
    font-weight: 800;
}
p.principal-text {
    background: #415ede;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 12px;
}